{% extends 'base.html.twig' %}

{% block title %}Connecter!{% endblock %}

{% block body %}
<div class="d-flex align-items-center justify-content-center">

<form method="post" class="w-25 container shadow p-3 mb-5 bg-body-tertiary rounded">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Tu es connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
    {% endif %}

    <div class="row">
    <div class="col text-center">
    <h1 class="h3 mb-3 font-weight-normal">Veuillez-vous connecter</h1>
    </div>
    </div>

    <div class="row mt-3">
    <div class="col">
    <label for="inputUsername">Pseudo</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
    </div>
    <div class="col">
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    </div>
    </div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
    <div class="row mt-3">
    <button class="btn btn-lg btn-primary" type="submit">
        Se connecter
    </button>
    </div>
</form>
</div>
{% endblock %}
