{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper w-25 container shadow p-3 mb-5 bg-body-tertiary rounded">
<div class="row">
    <a class="btn btn-primary col text-center mx-3" href="{{ path('app_login') }}">Connexion</a>
    <a class="btn btn-primary col text-center mx-3" href="{{ path('app_register') }}">Inscription</a>
</div>
</div>
{% endblock %}
