{% extends 'base_connect.html.twig' %}


{% block title %}Administration Article{% endblock %}

{% block sub_body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper shadow p-3 mb-5 bg-body-tertiary rounded">
        <h1>Liste des articles</h1>
        <div class="d-flex flex-row justify-content-between">
            <a class="btn btn-primary" href="{{ path('app_admin_manage_articles_new') }}">Ajouter</a>
            <a class="btn btn-secondary" href="{{ path('app_admin_index') }}">Retour</a>
        </div>
        <table class="table table-sm mt-5 text-lg-center">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Image</th>
                    <th>Nom</th>
                    <th>Prix</th>
                    <th>Type</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr class="article">
                    <td class="title align-middle">{{ article.id }}</td>
                    <td class="align-middle">
                        <img class="image-item rounded" src="{{ path("app_api_image_article", {'id': article.id} ) }}">
                    </td>
                    <td class="name align-middle">{{ article.nom }}</td>
                    <td class="price align-middle">{{ article.prix }}</td>
                    <td class="type align-middle">{{ article.type }}</td>
                    <td class="utils align-middle">
                        <a class="btn btn-primary" href="{{ path('app_admin_manage_articles_edit', {'id': article.id} ) }}">Modifier</a>
                        <a class="btn btn-secondary" href="{{ path('app_admin_manage_articles_delete', {'id': article.id} ) }}">Supprimer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
