{% extends 'base_connect.html.twig' %}

{% block title %}Pannel Administration{% endblock %}

{% block sub_body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper w-25 container shadow p-3 mb-5 bg-body-tertiary rounded">
<div class="row mb-3 border-bottom">
    <h1 class='col text-center'>Pannel Administration</h1>
</div>
<div class="row">
    <a class="btn btn-primary col text-center mx-3" href="{{ path('app_admin_manage_articles') }}">Articles</a>
    <a class="btn btn-primary col text-center mx-3" href="{{ path('app_admin_manage_type') }}">Types</a>
</div>
</div>
{% endblock %}
