{% extends 'base_connect.html.twig' %}


{% block title %}Hello AdminController!{% endblock %}

{% block sub_body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Ajouter un article</h1>
        <a class="btn btn-secondary" href="{{ path('app_admin_manage_articles') }}">Retour à la liste</a>

        {{ form_start(form,  {'attr': {'class': 'mt-5'}}) }}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="mb-3">
                <label id="{{ form.nom.vars.id }}">Nom</label>
                <input required="{{ form.nom.vars.required }}" class="form-control" id="{{ form.nom.vars.id }}" name="{{ form.nom.vars.full_name }}" value="{{ form.nom.vars.value }}"/>
            </div>
            <div class="mb-3">
                <label id="{{ form.prix.vars.id }}">Prix</label>
                <input required="{{ form.nom.vars.required }}" type="number" class="form-control" id="{{ form.prix.vars.id }}" name="{{ form.prix.vars.full_name }}" step="0.01" value="{{ form.prix.vars.value }}"/>
            </div>
            <div class="mb-3">
                <label for="{{ form.type.vars.id }}">Type</label>
                {{ form_widget(form.type, {'attr': {'class': 'form-select'}}) }}
            </div>

            <div class="mb-3">
                <label id="{{ form.file.vars.id }}">Image</label>
                <input required="{{ form.file.vars.required }}" type="file" class="form-control" id="{{ form.file.vars.id }}" name="{{ form.file.vars.full_name }}" value="{{ form.file.vars.value }}"/>
            </div>

            <div>

                <button type="submit" class="btn btn-primary">Ajouter</button>
            </div>
            {{ form_row(form._token) }}
        {{ form_end(form, {render_rest: false}) }}
    </div>

{% endblock %}
