{% extends 'base_connect.html.twig' %}
{% block title %}Pannel Administration{% endblock %}

{% block sub_body %}

    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <div class="example-wrapper">
    <h1>Modifier Type</h1>
    <a class="btn btn-secondary" href="{{ path('app_admin_manage_type') }}">Retournez à la liste</a>

    {{ form_start(form,  {'attr': {'class': 'mt-5'}}) }}
        
        <div class="mb-3">
                <label id="{{ form.nom.vars.id }}">Nom</label>
                <input required="{{ form.nom.vars.required }}" class="form-control" id="{{ form.nom.vars.id }}" name="{{ form.nom.vars.full_name }}" value="{{ form.nom.vars.value }}"/>
            </div>
       <button type="submit" class="btn btn-primary">Modifiez</button>
       {{ form_row(form._token) }}
    {{ form_end(form, {render_rest: false}) }}
    </div>
{% endblock %}
