{% extends 'base_connect.html.twig' %}


{% block title %}Administration Type{% endblock %}


{% block sub_body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper shadow p-3 mb-5 bg-body-tertiary rounded">
        <h1>Liste des types</h1>
        <div class="d-flex flex-row justify-content-between">
        <a class = "btn btn-primary" href="{{ path('app_admin_type_new') }}">Ajouter</a>
        <a class="btn btn-secondary" href="{{ path('app_admin_index') }}">Retour</a>
        </div>
        {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

        <table class="table table-sm mt-5 text-lg-center">
         <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type in types %}
            <tr>
                <td>{{ type.id }}</td>
                <td>{{ type.nom }}</td>
                <td class="d-flex justify-content-around "w-25 p-3"">
                    <a class = "btn btn-primary" href="{{ path('app_admin_type_edit', {'id': type.id}) }}">Modifier</a>
                        <form method="post" action="{{ path('app_admin_type_delete', {'id': type.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer la catégorie ?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type.id) }}">
                        <button class="btn">Supprimer</button>
                        </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}