{% extends 'base_connect.html.twig' %}

{% block title %}Créer liste course{% endblock %}

{% block sub_body %}
    <div class="example-wrapper shadow p-3 mb-5 bg-body-tertiary rounded">
        <h2>Ajouter un article</h2>

        {{ form(form, {"attr" : {"hidden" : "true", "id" : "form"}}) }}
        <div class="d-flex flex-row justify-content-between">
            <a class="btn btn-secondary" href="{{ path('liste_utilisateur', {'id': listecourse.id}) }}">Retour</a>
        </div>

        <div>
            <form method="GET" class="row g-3 align-items-center">
                <div class="col-auto">
                    <label id="search">Rechercher</label>
                </div>
                <div class="col-auto">
                    <input class="form-control" id="search" name="search" value=""/>
                </div>
                <div class="col-auto">
                    <input type="submit" value="Rechercher" class="btn btn-primary">
                </div>
            </form>
        </div>

        <table class="table table-sm mt-5 text-lg-center table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Image</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr class="article">
                    <td class="title align-middle">{{ article.id }}</td>
                    <td class="align-middle">
                        <img class="image-item rounded" src="{{ path("app_api_image_article", {'id': article.id} ) }}">
                    </td>
                    <td class="name align-middle">{{ article.nom }}</td>
                    <td class="price align-middle">{{ article.prix }}</td>
                    <td class="type align-middle">{{ article.type }}</td>
                    <td class="utils align-middle">
                        <button class="btn btn-primary" onclick="submit({{ article.id }})">Ajouter au panier</button>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    <script>
        function submit(article_id){
            let form = document.getElementById("form");
            let article_input = document.getElementById("{{ form.article.vars.id }}")
            article_input.value = article_id
            let quantity_input = document.getElementById("{{ form.quantite.vars.id }}")
            let result = parseInt(window.prompt("Veuillez donner la quantité à ajouter"))
            if (result){
                quantity_input.value = result
                form.submit()
            }
        }
    </script>


{% endblock %}
