{% extends 'base_connect.html.twig' %}

{% block title %}Créer liste course{% endblock %}

{% block sub_body %}

    <div class="example-wrapper shadow p-3 mb-5 bg-body-tertiary rounded">
        <h2>Ajouter un article</h2>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="d-flex flex-row justify-content-between">

            <button class="btn btn-primary">Modifier</button>
            <a class="btn btn-secondary" href="{{ path('liste_utilisateur', {'id': listecourse.id}) }}">Retour</a>
        </div>
        {{ form_end(form) }}


    </div>
{% endblock %}