{% extends 'base_connect.html.twig' %}

{% block title %}Liste des listes{% endblock %}



{% block sub_body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<div class="example-wrapper">
    <h1>Bienvenue sur vos listes, {{ user.pseudo }}!</h1>

    {% if liste_de_liste|length > 0 %}
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded stats">
        <h2>Vos stats</h2>
        <!--<label for="show" class="btn btn-primary">Afficher</label>
        <input type="checkbox" id="show" hidden="hidden">-->

        <table class="table table-sm mt-5 text-lg-center table-hover">
            <tbody>
            <tr>
                <th scope="row">Somme dépensé</th>
                <td scope="row">{{ somme }} €</td>
            </tr>
            <tr>
                <th scope="row">Moyenne</th>
                <td scope="row">{{ moyenne }} €</td>
            </tr>
            <tr>
                <th scope="row">Nombre total d'articles</th>
                <td scope="row"><p>{{ nb_articles }}</p></td>
            </tr>
            <tr>
                <th scope="row">Nombre d'articles achetés</th>
                <td scope="row">{{ nb_articles_achetes }}</td>
            </tr>
            <tr>
                <th scope="row">Article le plus cher</th>
                <td scope="row">{{ plus_cher }} €</td>
            </tr>
            <tr>
                <th scope="row">Article le moins cher</th>
                <td scope="row">{{ moins_cher }} €</td>
            </tr>
            <tr>
                <th scope="row">Article favoris</th>
                <td scope="row">{{ favoris }}</td>
            </tr>
            <tr>
                <th scope="row">Repartition des types</th>
                <td scope="row"><canvas id="stats" width="400" height="100"></canvas></td>
            </tr>
            </tbody>
        </table>

    </div>
    {% endif %}
    <table class="table table-sm mt-5 text-lg-center table-hover shadow p-3 mb-5 bg-body-tertiary rounded">
        <h2>Vos listes</h2>
        <a class="btn btn-primary" href="{{ path('creerliste') }}">Créer une nouvelle liste</a>
        <thead>
            <tr>
                <th>ID</th>

                <th>Nom</th>
                <th></th>
            </tr>
        </thead>    
        <tbody>
        {% for liste in liste_de_liste %}
            <tr>
                <td class="align-middle">{{ liste.id }}</td>

                <td class="align-middle">{{ liste.nom }}</td>
                <td>
                    <a class="btn btn-secondary" href="{{ path('liste_utilisateur', {'id':liste.id}) }}">Voir</a>
                    <form method="post" action="{{ path('supprimerliste', {'id': liste.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer la liste ?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ liste.id) }}">
                        <button class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr><td colspan="2">Aucune liste de course créée</td></tr>
        {% endfor %}
        </tbody>

    </table>

    {% if user.listeCoursePartage|length > 0 %}
    <table class="table table-sm mt-5 text-lg-center table-hover shadow p-3 mb-5 bg-body-tertiary rounded">
        <h2>Les listes partagées avec vous</h2>
        <thead>
        <tr>
            <th>ID</th>
            <th>Propriétaire</th>
            <th>Nom</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for liste in user.listeCoursePartage %}
            <tr>
                <td class="align-middle">{{ liste.id }}</td>
                <td class="align-middle">{{ liste.utilisateur.pseudo }}</td>
                <td class="align-middle">{{ liste.nom }}</td>
                <td>
                    <a class="btn btn-secondary" href="{{ path('liste_utilisateur', {'id':liste.id}) }}">Voir</a>
                </td>
            </tr>
        {% else %}
            <tr><td colspan="4">Aucune liste partagé avec vous</td></tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}


</div>
{% endblock %}
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
<script>
    window.onload = function() {
        let stats = document.querySelector("#stats")
        let chart = new Chart(stats, {
            type: "pie",
            data: {
                labels: {{ liste_types|raw }},
                datasets: [{
                    data: {{ nb_article_type|raw }},
                    backgroundColor: ["red", "yellow", "blue", "green", "gray", "fuchsia", "lime", "maroon", "navy", "olive", "purple", "silver", "teal", "white", "yellow"]  
                }]
            }
        })
    }
</script>
{% endblock %}
