{% extends 'base_connect.html.twig' %}

{% block title %}Liste {{ liste.id}}!{% endblock %}

{% block sub_body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper shadow p-3 mb-5 bg-body-tertiary rounded">
    <h1>Liste : {{liste.nom}}</h1>
    <div class="d-flex flex-row justify-content-between">
        <a class="btn btn-secondary" href="{{ path('app_utilisateur') }}">Retour</a>
        <a class="btn btn-secondary" href="{{ path('liste_utilisateur_ajouter_collaborateur', {id : liste.id}) }}">Gérer les invités</a>
        <a class="btn btn-primary" href="{{ path('liste_utilisateur_ajouter_article', {id : liste.id}) }}">Ajouter un article</a>
    </div>
    <table class="table table-sm mt-5 text-lg-center">
        <thead>
            <tr>
                <td>#</td>
                <td>Nom</td>
                <td>Prix</td>
                <td>Quantité</td>
                <td>Acheté</td>
                <td>Type</td>
                <td>Actions</td>
            </tr>
        </thead>    
        <tbody>
            {% for article in liste.ArticleAjouteListeCourses %}
            <tr class="active">
                <td class="align-middle">
                    <img class="image-item rounded" src="{{ path("app_api_image_article", {'id': article.article.id} ) }}">
                </td>
                <td class="align-middle">{{article.article.nom}}</td>
                <td class="align-middle">{{article.article.prix}} €</td>
                <td class="align-middle">{{ article.quantite}}</td>
                <td class="align-middle">

                {% if article.achete == 0 %}
                    <a class="btn btn-primary" href="{{ path('acheterArticleliste', {'id_liste':liste.id,'id_article': article.id}) }}">Acheter</a></td>
                {% else %}
                    <a class="btn btn-secondary" href="{{ path('acheterArticleliste', {'id_liste':liste.id,'id_article': article.id}) }}">Annuler l'achat</a></td>
                {% endif %}
                </td>
                <td class="align-middle">{{article.article.type}}</td>
                <td class="align-middle">
                    <form method="post" action="{{ path('supprimerArticleliste', {'id_liste':liste.id,'id_article': article.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer l\'article ?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
                        <button class="btn btn-danger">Supprimer</button>
                    </form>

                
            </tr>
            {% else %}
            <tr><td colspan="7">Aucune article</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}