@import "~bootstrap/scss/bootstrap";

.example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
.example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

body {
    .example-wrapper{
        /*.stats{
            table{
                display: none;
            }

            #show:checked ~ table{
                display: block;
            }
        }*/

        table{
            border-collapse: collapse;
            width: 100%;
            /*
            thead{
                background-color: #f6f6f6;
            }

            tr{
                &:nth-child(2n){
                    background-color: #e0e0e0;
                }

                td, th{
                    border: 1px solid black;
                    text-align: center;
                }
            }*/
        }
    }
}

img{
    height: 5em;
    width: 5em;
    object-fit: contain;
}