{% extends 'base.html.twig' %}
{% block body %}
    <div class="mb-3">
        <a class="btn btn-danger mt-3 ms-3" href="{{ path('app_logout') }}">Se déconnecter</a>
    </div>
    
    {% block sub_body %}{% endblock %}
{% endblock %}
